[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
flit = "*"
mypy = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
django-stubs = { extras = ["compatible-mypy"], version = "*" }
isort = {extras = ["pipfile_deprecated_finder"], version = "*"}

[requires]
python_version = "3.10"
